@import '~bootstrap/scss/bootstrap';

h1 {
  font-family: 'Merienda', cursive;
  padding: 2%;
  text-align: center;
}

h2 {
  font-family: 'Merienda', cursive;
  padding: 2%;
}

$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: $light;

body {
  background-color: $body-bg-color;
  background-image: url('public/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.alt-color {
  background-color: $alt-color;
}

.form-group  {
  margin: 2% 25%;
  width: 40%;
}

.side-bar {
  background-color: white;
  float: left;
  height: 700px;
  text-align: center;
  width: 250px;
  margin: 5px;
}

.recipe-bar {
  background-color: white;
  float: left;
  height: 700px;
  text-align: center;
  width: 400px;
  margin: 5px;
}

.details-bar {
  background-color: white;
  float: left;
  height: 700px;
  text-align: center;
  width: 500px;
  margin: 5px;
}

.add-bar {
  background-color: white;
  float: left;
  height: 700px;
  text-align: center;
  width: 800px;
  margin: 5px;
}
